* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: white; }
  body .controls {
    display: none; }

body.preview {
  background-color: #ccc; }
  body.preview .controls {
    display: block;
    position: absolute;
    top: 10px;
    left: 40px; }
  body.preview .paper {
    background-color: white;
    width: 385px;
    padding-top: 5px;
    padding-bottom: 3px;
    margin: 30px auto;
    box-shadow: 10px 10px 5px rgba(40, 40, 40, 0.5); }
  body.preview .content {
    -webkit-font-smoothing: antialiased; }

body .content {
  font-size:2em;
  font-family:Consolas;
  -webkit-font-smoothing: none;
  width: 350px;
  overflow: hidden;
  margin: 0 auto;
  background-color: white; }

body p {
  margin-bottom:15px; }

body img {
  /*width: 100%;*/ }

.info {
  width: 50%;
  margin: 0 auto;
}
